body{
    background-color: black;
}

table, th, td {
    border: 1px solid white;
    padding: 80px; 
    border-collapse: collapse;
    color: white;   
    font-weight: bold; /* Harfi kalın yap */
    font-size: 20px;  /* Harfin boyutunu ayarla */
    font-family: Arial, Helvetica, sans-serif;
}


table.ortala {
    margin: auto;
    margin-top: 200px;
}


td:hover {
    background-color: #333; /* Hücreye hover olduğunda arkaplan rengi */
    transition: 0.5s;
}
